
*, *::before, *::after {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}

main {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.image-banner {
  width: 100%;
}

.foto {
  width: 40%;
  border-radius: 5%;
  margin: 50px 0 50px 0;
}


.foto:hover {
  transform: scale(1.3);
  transition: 0.5s;
  box-shadow: 5px 5px 40px 5px gray;
}

ul, a {
  list-style-type: none;
  text-decoration:none;
}

/*.div-navbar {
  display: flex;               !!!For some reason this css property affects the flex of my nav bar!!!! 
  flex-direction: row;

}*/

.nav-list {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  padding: 25px;
  background-color:aqua;
  width: 100%;
  z-index: 1;
}

.all-content {
  margin-top: 0px;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 20px;
}

.food {
  display: flex;
}

.first-food, .second-food {
  margin-top: 30px;
}

.two-hr {
  margin-top: 50px;
}

footer {
  text-align: center;
  background-color: aqua;
  padding: 40px;
  margin: 20px 0 0 0;
}